@media (min-width: 992px) {
    .logoWechat{
        width: 40%!important
    }
    .compared-img {
        width: 70%!important

    }
}

@media (min-width: 768px) {
    .logoWechat{
        width: 50%
    }
    .compared-img {
        width: 100%
    }
}
@media (max-width: 768px) {
    .logoWechat{
        width: 80%
    }
    .compared-img {
        width: 100%
    }
}

body::before {
    display: block;
    content: '';
    height: 56px;
}

body:after {
    pointer-events: none;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-color: #e1e6e1;
    background-image: url("../images/overlay.png"), url("../images/bg.jpg");
    background-repeat: repeat, repeat-x;
    background-size: 128px 128px, cover;
}

a {
    color: rgba(255,255,255,.55)
}
